
<div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>


<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<script src="/admin_assets/vendor/libs/popper/popper.js"></script>
<script src="/admin_assets/vendor/js/bootstrap.js"></script>
<script src="/admin_assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="/admin_assets/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="/admin_assets/vendor/libs/apex-charts/apexcharts.js"></script>

<!-- Main JS -->
<script src="/admin_assets/js/main.js"></script>

<!-- Page JS -->
<script src="/admin_assets/js/dashboards-analytics.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<script>
    new DataTable('#myTable', {
        language: {
            url: '//cdn.datatables.net/plug-ins/1.10.25/i18n/Turkish.json'
        }
    });
</script>
</body>
</html>
