<%- include('../partials/_header.ejs') -%>
<%- include('../partials/_sidebar.ejs') -%>
<%- include('../partials/_navbar.ejs') -%>

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                  <div class="card" style="border-radius: 1rem;">
                    <div class="card-body">
                      <div class="table-responsive">
                        ...
                    </div>
                  </div>
                </div>
            </div>
            <!-- / Content -->
<%- include('../partials/_footer.ejs') -%>